.information
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text
          = link_to "マイページ", "/users/1"
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          おしらせ
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          やることリスト
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          いいね
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text
          = link_to "出品する","/items/new"
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text
          = link_to "出品した商品ー出品中・取引中", sale_saling_items_users_path
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text
          = link_to "出品した商品ー売却済", sale_soldout_items_users_path
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text
          = link_to "購入した商品ー取引中",buy_trading_items_users_path
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text
          = link_to "購入した商品ー過去の取引", buy_buyed_items_users_path
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          ニュース一覧
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          評価一覧
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          ガイド
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          お問い合わせ
        = icon('fab','chevron-right')
  
.melpay
  メルペイ
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          売り上げ・振り込み申請
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          ポイント申請
        = icon('fab','chevron-right')
  
.melpay
  設定
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          プロフィール
        = icon('fab','chevron-right')
  .boxes.selected
    = link_to "発送元・お届け先住所変更", addresses_path
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text
          = link_to "支払い方法", cards_path
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          メール・パスワード
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          本人情報
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text.deadLink
          電話番号の確認
        = icon('fab','chevron-right')
  .boxes
    .boxes__box
      .boxes__box__inner
        .boxes__box__inner__text
          = link_to "ログアウト", destroy_user_session_path ,method: :DELETE
        = icon('fab','chevron-right')

  
    