- @notices.last(5).each do |notice|
  %li
    .mypageMainContainer__rightContnet__lists__list
      = link_to "","#" ,class: "tabLink"
      .mypageMainContainer__rightContnet__lists__list__icon
        = image_tag(src= "cat.png",size: "50x50",class: "cat")
      .mypageMainContainer__rightContnet__lists__list__messageBox
        .mypageMainContainer__rightContnet__lists__list__messageBox__message
          = "#{notice[:text]}"
        .mypageMainContainer__rightContnet__lists__list__messageBox__watches
          .mypageMainContainer__rightContnet__lists__list__messageBox__watches__watchIcon
            = icon('fab', 'clock')
          .mypageMainContainer__rightContnet__lists__list__messageBox__watches__time
            = "#{notice[:time]}"
      .mypageMainContainer__rightContnet__lists__list__arrow
        = icon('fab','chevron-right')
.mypageMainContainer__rightContnet__lists__list__allShow.n-allshow
  .mypageMainContainer__rightContnet__lists__list__allShow__btn.n-btn
    %p
      一覧を見る