  .category_list
  - @category.each do |parent| 
    %ul.parent_top
      %li.parent_list
        = link_to "#{parent.name}","/category/#{parent.id}",class:"maincategory"
        %ul.child_top
          - main_category.sub_categories.each do |sub_category|
            %li.child_list
              = link_to "#{sub_category.name}","/category2/#{sub_category.id}",class:"subcategory"
              %ul.gchild_top
                - sub_category.sub2_categories.each do |sub2_category|
                  %li.gchild_list
                    = link_to "#{sub2_category.name}","/category3/#{sub2_category.id}",class:"sub2category"