.goods
  %h2{"class"=>"head"}商品一覧
  .goods__box
    .goods__box__text
      -# %a{ :href => '#', :id => 'newpost' }
      = link_to "#", id : 'newpost'
        %h3{"class"=>"title"}新規投稿
    .goods__box__lists
      .goods__box__lists__list
        -# %a{ :href => '#', :class => 'goods__box__lists__list__anchor1' }
        = link_to '#',class:'goods__box__lists__list__anchor1'
          %figure{"class"=>"images"}
            = image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", :class=> 'image')
          .goods__box__lists__list__anchor1__content
            .goods__box__lists__list__anchor1__content__name
              product3
            .goods__box__lists__list__anchor1__content__description
              %ul
                %li
                  300000円
                %li<
                  %li{"class"=>"fa fa-star likeIkon"}
                    0
              %p
                （税込）
      .goods__box__lists__list
        -# %a{ :href => '#', :class => 'goods__box__lists__list__anchor1' }
        = link_to "#", class:"goods__box__lists__list__anchor1"
          %figure{"class"=>"images"}
            = image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", :class=> 'image')
          .goods__box__lists__list__anchor1__content
            .goods__box__lists__list__anchor1__content__name
              product3
            .goods__box__lists__list__anchor1__content__description
              %ul
                %li<
                  300000円
                %li<
                  %li{"class"=>"fa fa-star likeIkon"}
                    0
              %p
                （税込）
      .goods__box__lists__list
        -# %a{ :href => '#', :class => 'goods__box__lists__list__anchor1' }
        = link_to "#", class:"goods__box__lists__list__anchor1"
          %figure{"class"=>"images"}
            = image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", :class=> 'image')
          .goods__box__lists__list__anchor1__content
            .goods__box__lists__list__anchor1__content__name
              product3
            .goods__box__lists__list__anchor1__content__description
              %ul
                %li<
                  300000円
                %li<
                  %li{"class"=>"fa fa-star likeIkon"}
                    0
              %p
                （税込）

