.header
  .header__inner
    .header__inner__main
      .icon
        = link_to "/"               = image_tag "icon-search 1.png", size: "19x19"
              %input{name: "authenticity_token", type: "hidden", value: ""}
    .header__inner__nav
      .list-left
        .list-left__item-first
          = link_to 'カテゴリー', '#', class: "category-btn"
        .list-left__item-second
          = link_to "ブランド", "#", class:"brand-btn"
      .list-right
        .list-right__item
          = link_to "ログイン", new_user_session_path, class: "login-btn"
          = link_to "新規会員登録", new_user_registration_path, class: "new-member-btn"
          -# 仮で記載↓byうえやま
          = link_to "マイページ", "/users/1", class:"new-member-btn"