
%main.l-container.clearfix
  .l-content
    %section.l-chapter-container
    .l-single-inner_registration-form
      %h2.l-chapter-head 発送元・お届け先住所変更
      = form_with(model: @address,data: { remote: false }) do |f|
        .l-single-content
          .form-group
            %label{for: "name"} お名前
            %span.form-require 必須
            = f.text_field :address_first_name,class: "input-default", placeholder: "例) 前原"
            = f.text_field :address_family_name,class: "input-default", placeholder: "例) 正邦" 
          .form-group
            %label{for: "name"} お名前カナ
            %span.form-require 必須
            = f.text_field :address_first_name,class: "input-default", placeholder: "例) マエハラ"
            = f.text_field :address_family_name,class: "input-default", placeholder: "例) マサクニ" 
          .form-group
            %label{for: "zip_code1"} 郵便番号
            %span.form-require 必須
            = f.text_field :postal_code,class: "input-default", placeholder: "例) 123-4567"
          .form-group
            .select-wrap
            %label{for: "prefecture"} 都道府県
            %span.form-require 必須
            = f.collection_select :prefectures,ShipFrom.all, :id, :name ,{prompt: "選択してください"},class: "input-default"
            
           
          .form-group
            %label{for: "city"} 市区町村
            %span.form-require 必須
            = f.text_field :municipality, class: "input-default", placeholder: "例) 大阪市生野区"
          .form-group
            %label{for: "address1_label"} 番地
            %span.form-require 必須
            = f.text_field :block_number, class: "input-default", placeholder: "例) 鶴橋1-1-1"
          .form-group
            %label{for: "address2_label"} 建物
            %span.form-arbitrary 任意
            = f.text_field :building, class: "input-default", placeholder: "例) 富士グランドビル102"
          .form-group
            %label{for: "address2_label"} 電話
            %span.form-arbitrary 任意
            %input.input-default{name: "telephone", placeholder: "例) 09012345678", type: "number", value: ""}/
          %input{name: "deliver_addrss_id", type: "hidden", value: ""}/
          %input{name: "after_save_callback", type: "hidden", value: "#"}/
          %button.btn-default.btn-red{type: "submit"} 変更する


