= form_with model: @address, local: true do |f|
  名前
  = f.text_field :address_first_name
  苗字
  = f.text_field :address_family_name
  郵便番号
  = f.text_field :postal_code
  県
  = f.collection_select :prefectures,ShipFrom.all, :id, :name ,{prompt: "選択してください"} 
  市
  = f.text_field :municipality
  番地
  = f.text_field :block_number
  ビル名
  = f.text_field :building
  = f.submit "send"