.header
  .header__inner
    = render "items/category-downlists"
    -# カテゴリーリスト部分テンプレート読みこみ
    .header__inner__main
      .icon
        = image_tag "header_logo.png", class: "image",size: "140x60"
        = link_to "",items_path
      .searchbox
        = search_form_for(@search, url:search_items_path) do |f|
          = f.text_field :name_cont, placeholder: 'キーワードから探す', class: "search"
          = button_tag type: 'submit', class: "searchbox__icon" do
            = image_tag(src= "icon-search 1.png", size: "19x19",class: "button")
              
    .header__inner__nav
      .list-left
        .list-left__item-first
          = link_to 'カテゴリー', categories_path, class: "category-btn headerlink"
        .list-left__item-second
          = link_to "ブランド", brands_path, class:"brand-btn headerlink"
        .list-left__item-second
          = link_to "ホーム","/", class:"brand-btn headerlink"
        .list-left__item-second
          %p 0502
      .list-right
        - if user_signed_in?
          .list-right__item
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to "マイページ", user_path(current_user.id), class:"new-member-btn"
        - else
          .list-right__item
            = link_to "ログイン", new_user_session_path, class: "login-btn"
            = link_to "新規会員登録", new_user_registration_path, class: "new-member-btn"
            = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post
            = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post