.header
  .header__inner
    = render "items/category-downlists"
    -# カテゴリーリスト部分テンプレート読みこみ
    .header__inner__main
      .icon
        = image_tag "header_logo.png", class: "image",size: "140x60"
        = link_to "",items_path
      .searchbox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input{name: "utf8", type: "hidden", value: "✓"}/
          %input.searchbox__input{name: "key", placeholder: "キーワードから探す"}
          %button{type: "submit"}
            .searchbox__icon
              = image_tag "icon-search 1.png", size: "19x19"
              %input{name: "authenticity_token", type: "hidden", value: ""}
    .header__inner__nav
      .list-left
        .list-left__item-first
          = link_to 'カテゴリー', categories_path, class: "category-btn headerlink"
        .list-left__item-second
          = link_to "ブランド", "#", class:"brand-btn headerlink"
        .list-left__item-second
          = link_to "ホーム","/", class:"brand-btn headerlink"
        .list-left__item-second
          %p 0414
      .list-right
        - if user_signed_in?
          .list-right__item
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to "マイページ", user_path(current_user.id), class:"new-member-btn"
        - else
          .list-right__item
            = link_to "ログイン", new_user_session_path, class: "login-btn"
            = link_to "新規会員登録", new_user_registration_path, class: "new-member-btn"
