.goods
  %h2.head 人気のカテゴリー
  .goods__box
    .goods__box__text
      = link_to "レディース", "#ladies-items"
      = link_to "メンズ", "#mens-items"
      = link_to "家電・スマホ・カメラ", "#electronics-items"
      = link_to "おもちゃ・ホビー・グッズ", "#toys-items"
  .goods__new
    .goods__new__item
      .goods__new__item__box#ladies-items
        .goods__new__item__box__category
          レディース新着アイテム
        .goods__new__item__box__more
          =link_to"もっと見る ＞","/items/1/list_from_category"
      .goods__new__item__list
        - @items1.each do |item|
          = link_to item_path(id: item.id) ,class:"goods__new__item__list__show" do
            .goods__new__item__list__show__image
              = image_tag (item.item_images[0].image.url),size: "184x184"
            .goods__box__lists__list__anchor1__content
              .goods__box__lists__list__anchor1__content__name
                =item.name
            .goods__box__lists__list__anchor1__content__description
              %ul
                %li
                  = item.price
                  円
            -if item.buyer_id.present?
              .items__sold
                .items__sold__inner
                  SOLD

      .goods__new__item__box#mens-items
        .goods__new__item__box__category
          メンズ新着アイテム
        .goods__new__item__box__more
          =link_to"もっと見る ＞","/items/2/list_from_category"
      .goods__new__item__list
        - @items2.each do |item|
          = link_to item_path(id: item.id),class:"goods__new__item__list__show" do
            .goods__new__item__list__show__image
              = image_tag (item.item_images[0].image.url),size: "184x184"
            .goods__box__lists__list__anchor1__content
              .goods__box__lists__list__anchor1__content__name
                =item.name
            .goods__box__lists__list__anchor1__content__description
              %ul
                %li
                  = item.price
                  円
            -if item.buyer_id.present?
              .items__sold
                .items__sold__inner
                  SOLD

      .goods__new__item__box#electronics-items
        .goods__new__item__box__category
          家電・スマホ・カメラ新着アイテム
        .goods__new__item__box__more
          =link_to"もっと見る ＞","/items/8/list_from_category"
      .goods__new__item__list
        - @items3.each do |item|
          = link_to item_path(id: item.id),class:"goods__new__item__list__show" do
            .goods__new__item__list__show__image
              = image_tag (item.item_images[0].image.url),size: "184x184"
            .goods__box__lists__list__anchor1__content
              .goods__box__lists__list__anchor1__content__name
                =item.name
            .goods__box__lists__list__anchor1__content__description
              %ul
                %li
                  = item.price
                  円
            -if item.buyer_id.present?
              .items__sold
                .items__sold__inner
                  SOLD

      .goods__new__item__box#toys-items
        .goods__new__item__box__category
          おもちゃ・ホビー・グッズ新着アイテム
        .goods__new__item__box__more
          =link_to"もっと見る ＞","/items/6/list_from_category"
      .goods__new__item__list
        - @items4.each do |item|
          = link_to item_path(id: item.id),class:"goods__new__item__list__show" do
            .goods__new__item__list__show__image
              = image_tag (item.item_images[0].image.url),size: "184x184"
            .goods__box__lists__list__anchor1__content
              .goods__box__lists__list__anchor1__content__name
                =item.name
            .goods__box__lists__list__anchor1__content__description
              %ul
                %li
                  = item.price
                  円
            -if item.buyer_id.present?
              .items__sold
                .items__sold__inner
                  SOLD