.wrapper
  = render "header"
  = render partial: "items/template_category/category_show",locals: { category: @category, items: @items } 
  .top.body
  .top.body__new
    .top.body__new__item
      .top.body__new__item__box
        .top.body__new__item__box__category
          =@categorysName
          の商品一覧
      .top.body__new__item__list
        - @items.each do |item|
          .top.body__new__item__list__show
            = link_to "", item_path(item)
            .top.body__new__item__list__show__image
              = image_tag (item.item_images[0].image.url), size: "184x184"
              %p
                ¥#{item.price}
            .top.body__new__item__list__show__name
              = item.name
              .top.body__new__item__list__show__name__opa
  = render "bottom_banner"
  = render "footer"
  = render "sell_btn"