.wrapper
  = render "items/header"
  .mypageMainContainer
    .mypageMainContainer__leftContnet
      = render partial: "cards/new_inner/card_new_mypageLeft"
    .mypageMainContainer__rightContnet
      .mypageMainContainer__rightContnet__initial
        .card_back
          .mypageMainContainer__rightContnet__initial__card_maincontent
            - if @card.present?
              = form_with url: "/cards/#{@card.id}", method: :delete, local: true do |f|
                .card-box
                  .card-infomations
                    .card-infomation
                      %p 登録中のカード
                    .card-infomation
                      %p 番号 
                      = "**** **** **** " + @card_information.last4
                    .card-infomation
                      %p 有効期限 
                      - exp_month = @card_information.exp_month.to_s
                      - exp_year = @card_information.exp_year.to_s.slice(2,3)
                      = exp_month + " / " + exp_year
                    %input{type: "hidden", name: "cards_id", value: ""}
                    = f.submit "削除する",class: 'card-btn4'
                    - if flash[:notice2]
                      = flash[:notice2]
                    - if flash[:alert2]
                      = flash[:alert2]
            - else
              .card-box
                .card-btn2
                  = link_to "クレジットカードを登録する", new_card_path, class: 'card-btn3' 

  = render "items/bottom_banner"
  = render "items/footer"
  = render "items/sell_btn"
