.purchaseConfirmation
  %header.purchaseConfirmation__head
    = link_to root_path do
      = image_tag "header_logo.png", class: "sell__head__img",size: "150x65"
  .purchaseConfirmation__main
    .purchaseConfirmation__main__content
      %h2.purchaseConfirmation__main__content__head
        購入内容の確認
      .purchaseConfirmation__main__content__item
        .purchaseConfirmation__main__content__item__inner
          .purchaseConfirmation__main__content__item__inner__box
            .purchaseConfirmation__main__content__item__inner__box__image
              = image_tag "#{@item.item_images[0].image}", class: "item-main-img"
            .purchaseConfirmation__main__content__item__inner__box__detail
              .purchaseConfirmation__main__content__item__inner__box__detail__name
              .purchaseConfirmation__main__content__item__inner__box__detail__price
                .purchaseConfirmation__main__content__item__inner__box__detail__price__money              
                  = "¥" + "#{@item.price}" 
                .purchaseConfirmation__main__content__item__inner__box__detail__price__tax
                  （税込）送料込み
      .purchaseConfirmation__main__content__payment
        .purchaseConfirmation__main__content__payment__price
          .purchaseConfirmation__main__content__payment__price__box
            .purchaseConfirmation__main__content__payment__price__box__text
              = @item.name
              支払い金額
            .purchaseConfirmation__main__content__payment__price__box__money
              = "¥" + "#{@item.price}" 
          .purchaseConfirmation__main__content__payment__price__point
            .purchaseConfirmation__main__content__payment__price__point__box
              .purchaseConfirmation__main__content__payment__price__point__box__text
                ■ ポイントを使用
              .purchaseConfirmation__main__content__payment__price__point__box__value
                (所持ポイント:P0) 
        .purchaseConfirmation__main__content__payment__card
          .purchaseConfirmation__main__content__payment__card__method
            .purchaseConfirmation__main__content__payment__card__method__text
              支払い方法
            .purchaseConfirmation__main__content__payment__card__method__change
              = link_to '変更する',"#", class: "change"
          .purchaseConfirmation__main__content__payment__card__info
            .purchaseConfirmation__main__content__payment__card__info__name
              クレジットカード
            .purchaseConfirmation__main__content__payment__card__info__number
              = "**** **** **** " + @card_information.last4
            .purchaseConfirmation__main__content__payment__card__info__monthyear
              %p 有効期限 
              - exp_month = @card_information.exp_month.to_s
              - exp_year = @card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
        .purchaseConfirmation__main__content__payment__address
          .purchaseConfirmation__main__content__payment__address__method
            .purchaseConfirmation__main__content__payment__address__method__text
              配送先
            .purchaseConfirmation__main__content__payment__address__method__change
              = link_to '変更する',"#", class: "change"
          .purchaseConfirmation__main__content__payment__address__number
            = "〒" + "***-****"
          .purchaseConfirmation__main__content__payment__address__text
            大阪府 大阪市天王寺区 上本町1丁目 1-1-1
          .purchaseConfirmation__main__content__payment__address__name
            やまだ あや
      .purchaseConfirmation__main__content__bottom
        .purchaseConfirmation__main__content__bottom__actions
          .btn 
            = link_to "購入する", "/cards/#{@item.id}/pay", method: :POST 
  %header.purchaseConfirmation__footer
    %ul
      %li
        = link_to "", target: "_blank" do
          プライバシーポリシー
      %li
        = link_to "", target: "_blank" do
          フリマ利用規約
      %li
        = link_to "", target: "_blank" do
          特定商取引に関する表記
    .purchaseConfirmation.html__footer__logo
      = link_to root_path do
        = image_tag "footer_logo.png",size: "140x55"
      %small
        ©FURIMA