= render "items/header"

.categories
  .categories__main
    .categories__main__title
      %h3="カテゴリー一覧"

    .categories__main__links
      -Category.roots.each do |category|
        = link_to category.name, "#category_#{category.id}", class: "categories__main__links__title"

    -Category.roots.each do |category|
      .categories__main__contents
        %h3{id: "category_#{category.id}", class: "categories__main__contents__title"}=category.name
        .categories__main__contents__body
          .categories__main__contents__body__category-all
            = link_to "すべて"
          - category.children.each do |category_child|
            .categories__main__contents__body__category-title
              = category_child.name
            .categories__main__contents__body__category-list
              .categories__main__contents__body__category-list__item
                =link_to "すべて"
              - category_child.children.each do |category_grandchild|
                .categories__main__contents__body__category-list__item
                  =link_to category_grandchild.name

= render "items/bottom_banner"
= render "items/footer"
= render "items/sell_btn"